@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');

body {
  font-family: 'Fredericka the Great', cursive;
  background-color: lightgrey;
  font-size: 16px;
  line-height: 1;
}

h1 {
  color:rgb(71, 94, 97);
}

p {
  color:rgb(93, 124, 128);
}

textarea { 
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 15px;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid darkgray;
  border-bottom-style: dotted;

}

.description{
  white-space: pre-wrap;
}

.time-block{
  text-align: center;
  border-radius: 15px;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid whitesmoke;
}

.hour {
  background-color: whitesmoke;
  color: #000000;
  border-top: 1px dashed #000000;
}

.past {
  background-color: lightgrey;
  color: white;
}

.present {
  background-color: rgb(211, 124, 137);
  color: white;
}

.future {
  background-color: rgb(129, 187, 184);
  color: white;
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color:rgb(110, 148, 153);
  color: white;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all .3s ease-in-out;
}
/*
Respnisive when Browser's width is either 400px or less */
@media screen and (max-width: 767px) {       
.jumbotron{
      height: 300px;
  }
   p{
      font-size: smaller;
  } 

}
/* Browser's width is either 400px or less.
*/
@media screen and (max-width: 400px) {
.jumbotron{
      height: 300px; 
  }
  .hourC{
      margin-right: 0px;
  }
  
  .spanBttn{
      border-radius: 25px;
  }
 
}